{% extends 'header.html' %}

{% block head %}

<title>Banking Application</title>
{% endblock %}

{% block content %}
<div class="notifications">
    <h3>Notifications</h3>
    <ul>
      <li><strong>Account balance update:</strong> Your account balance has been updated with a new deposit of $1000.</li>
      <li><strong>Fund transfer:</strong> You have successfully transferred $500 to John Doe's account.</li>
      <li><strong>Bill payment:</strong> Your credit card bill payment of $200 has been successfully processed.</li>
    </ul>
  </div>
  {% endblock %}