<!DOCTYPE html>
<html>
  <head>
    <title>Welcome Page</title>
    <link rel="stylesheet" href="styles.css">
  </head>
  <body>
    <div class="container">
      <h1>Welcome to my site</h1>
      <img src="https://placeimg.com/640/480/animals" alt="animals">
      <p>The customer is very important, the customer will be followed by the customer. To trigger and want some performance. A good family, just or a little ugly, needs an asset, if not an accumsan. But the care is always from, and soft timing vehicles and. Now, prepare your plan for the land of Feugiat, and the result will be the greatest.</p>
    </div>
    <h1>Authentication</h1>
    <a href="{{ url_for('login') }}">Login Page</a><br>
    <a href="{{ url_for('register') }}">Register Page</a><br>
  </body>
</html>
